<div data-controller="scraping-page" class="scraping-views">
    <h3>Scraping Page</h3>
    <button class="scraping-button" data-action="click->scraping-page#scraping">Scraping</button>
    <div data-scraping-page-target="status"></div>
</div>
